<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies Page</title>
</head>
<body>
Company page | <a href="/companies/add"> Add Company</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" company : ${companies}">
        <td th:text="${company.id}"></td>
        <td th:text="${company.name}"></td>
        <td th:text="${company.address}"></td>
        <td><a th:href="@{'companies/delete/' + ${company.id}}"> Delete </a> </td>
    </tr>
    </tbody>
</table>
</body>
</html>